<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="/favicon.png" />
    <title>Shorten | exun.co</title>
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>

  <body>
    <div class="container" style="height: 100%;">
      <div class="form-container">
        <h1>Login</h1>
        {{#if error}}
        <p class="form-error">{{ error }}</p>
        {{/if}}
        <!-- <form action="/shorten/login" method="POST">
          <input type="text" placeholder="Username" name="username" />
          <input type="password" placeholder="Password" name="password" />
          <button>Login</button>
          <p class="disclaimer">
            Don’t have a login?
            <a href="https://m.me/SupremeLeaderKabir">Message Kabir</a>
          </p>
        </form> -->
        <button onclick="window.location.href='{{ login_url }}'">
          Sign in with Google
        </button>
        <p class="disclaimer">
          Don’t have a login?
          <a href="https://m.me/okangad">Message Angad</a>
        </p>
      </div>
    </div>
  </body>
</html>
